/config.php
/storage/installed.lock
/storage/logs/*.log
/storage/cache/*
!/storage/cache/.gitkeep
/storage/backups/*
!/storage/backups/.gitkeep
/storage/tmp/*
!/storage/tmp/.gitkeep
/storage/updates/*
!/storage/updates/.gitkeep
/storage/maintenance.lock
/uploads/*
!/uploads/.gitkeep
/packages/*.zip
*.zip
.DS_Store
Thumbs.db
